In [1]:
import pandas as pd
import numpy as np

In [2]:
Df = pd.DataFrame()

In [3]:
print(Df)

Empty DataFrame
Columns: []
Index: []

In [4]:
#DATAFRAME WITH LIST
import pandas as pd
i = [10,20,30,40,50,60]
df=pd.DataFrame(i)
print(df)

    0
0  10
1  20
2  30
3  40
4  50
5  60

In [5]:
#EXAMPLE WITH STRING VALUES
import pandas as pd

i = ["Item 1", "Item 2", "Item 3", "Item 4"]
df = pd.DataFrame(i)
print(df)

        0
0  Item 1
1  Item 2
2  Item 3
3  Item 4

In [6]:
#MIX VALUES
import pandas as pd

i = ["JAVA", "CSS", "HTML", "PYTHON", 10,20,30,40]

df = pd.DataFrame(i)

print(df)

        0
0    JAVA
1     CSS
2    HTML
3  PYTHON
4      10
5      20
6      30
7      40

In [7]:
#DATAFRAME WITH DICT. VALUES

import pandas as pd

i = {'no' :[1, 2, 3], 'name' :['Amit','Aman','Ajay',]}

df = pd.DataFrame(i)

print (df)

   no  name
0   1  Amit
1   2  Aman
2   3  Ajay

In [8]:
#DICT. EXAMPLE

import pandas as pd

i = {'no' :[1, 2, 3, 4],

'Name' :['john','andy','sandra', 'jonny'],
'Marks': ['20', '30', '25', '45']}

df = pd.DataFrame(i)

print (df)

   no    Name Marks
0   1    john    20
1   2    andy    30
2   3  sandra    25
3   4   jonny    45

In [9]:
#DATAFRAME WITH SERIES

import pandas as pd

i = {'no' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])}

d1 = pd.DataFrame(i)

print (d1)

   no
a   1
b   2
c   3
d   4
e   5

In [10]:
#import pandas as pd
#2 Column

i = {'no' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
    'no1' : pd.Series([6, 7, 8], index=['a1', 'b1', 'c1'])
}

d1 = pd.DataFrame(i)

print (d1)

     no  no1
a   1.0  NaN
a1  NaN  6.0
b   2.0  NaN
b1  NaN  7.0
c   3.0  NaN
c1  NaN  8.0

# Methods

In [11]:
#APPEND() METHOD
#Pandas append() function is used to add the rows of other dataframe to the end of the given dataframe.

import pandas as pd

i = pd.DataFrame({
"x":[15,25,32,49],
"y":[47, 24, 17, 29]
})

j = pd.DataFrame({
"x":[245, 145, 412],
"y":[47, 24, 17]
})

i.append(j, )

     x   y
0   15  47
1   25  24
2   32  17
3   49  29
0  245  47
1  145  24
2  412  17

In [12]:
#IGNORE_INDEX
import pandas as pd

i = pd.DataFrame({
"x":[15,25,32,49],
"y":[47, 24, 17, 29]
})

j = pd.DataFrame({
"x":[245, 145, 412],
"y":[47, 24, 17]
})

i.append(j, ignore_index = True)

     x   y
0   15  47
1   25  24
2   32  17
3   49  29
4  245  47
5  145  24
6  412  17

In [13]:
#COUNT() METHOD

import pandas as pd
import numpy as np

i = pd.DataFrame({
"person":["john", "doe", "smith", "andy"],
"age": [30, 39, np.nan, 33]
})

i.count()

person    4
age       3
dtype: int64

In [14]:
#COLUMN AXIS

import pandas as pd
import numpy as np

i = pd.DataFrame({
"person":["john", "doe", "smith", "andy"],
"age": [30, 39, np.nan, 33]
})

i.count()
i.count(axis='columns')

0    2
1    2
2    1
3    2
dtype: int64

In [15]:
#AXIS

import pandas as pd
import numpy as np

i = pd.DataFrame({
"person":["john", "doe", "smith", "andy"],
"age": [30, 39, np.nan, 33],
"city": [np.nan, 'pune', np.nan, 'pune']
})

i.count()
i.count(axis='columns')

0    2
1    3
2    1
3    3
dtype: int64